.product {
    border: 1px solid black;
    margin: 10px;
    display: flex;
    width: fit-content;
    height: fit-content;
}

.inProduct {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.edit {
    display: flex;
    flex-direction: column;
}